body {
   position: relative;
   background-color: rgb(232, 232, 232) !important;
}
.logo {
   border: 1px solid #333333;
   border-radius: 50%;
   float: left;
   overflow: hidden;
   width: 60px;
}
#section1 {
   background-color: rgba(47, 92, 73, 0.3);
}
#section2 {
   color: #fff;
   background-color: #673ab7;
}
#section3 {
   color: #fff;
   background-color: #ff9800;
}
#section41 {
   padding-top: 50px;
   height: 500px;
   color: #fff;
   background-color: #00bcd4;
}
#section42 {
   padding-top: 50px;
   height: 500px;
   color: #fff;
   background-color: #009688;
}
.carousel-inner > .item > img, .carousel-inner > .item > a > img {
   width: 80%;
   margin: auto;
   border-radius: 15px;
}
@media screen and (min-width: 768px) {
   .carousel-inner > .item > img, .carousel-inner > .item > a > img {
      width: 45%;
      margin: auto;
      border-radius: 15px;
   }
}

.carousel-caption {
   color: black !important;
   text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white !important;
}
.carousel-indicators {
   background-color: rgba(18, 18, 18, 0.3);
}
.modal-body {
   text-align: center;
}
.jumbotron {
   text-align: center;
   padding-bottom: 0 !important;
}
.affix {
   top: 0;
   width: 100%;
}
.label {
   font-size: 90% !important;
}
.modalImage {
   width: 60%;
   margin: auto;
}
.close{
   float: none !important;
}
#closeModalTouch{
   height: 30px;
   width: 30px;
   float: right;
   text-align: center;
}
